<div class="color-card">
<div class="card" style="width: 18rem; margin: 45px;">
    <div class="card-body">
      <h4 class="card-title"><%= acionamento.name %></h4>
        <a type="button" class="btn btn-success"><%= acionamento.status %></a>
    </div>
  </div>
</div>