<div class="color-card">
<div class="card" style="width: 18rem; margin: 45px;">
    <div class="card-body">
      <h5 class="card-title"><%= acionamento.name %></h5>
      <p class="card-text"> <%= acionamento.status %></p>
      <a href="<%= `/acionamento/${acionamento.id}` %>" class="btn btn-primary">Clique aqui</a>
    </div>
  </div>
</div>