<!DOCTYPE html> 
<html>
  <head>
    <%- include('import'); -%>
  </head>
  <body>
     <%- include('navs'); -%>
  <div class="just-here">
      <div class="container">
          <div class="row">
              <% posts.forEach((post) => { %>
              <%- include('post_card', { post: post }); -%>
              <% }); %>
          </div>
    <%- include('footer'); -%>
  </div>
  </body>
</html>