<!DOCTYPE html>
<html>

<head>
  <%- include('import'); -%>
</head>

<body>
  <%- include('navs'); -%>
  <div class="just-here">
    <div class="container">
      <div class="row">
        <% sensores.forEach((sensor) => { %>
        <%- include('sensor_card', { sensor: sensor }); -%>
        <% }); %>
      </div>
    </div>
  </div>
  <div class="just-here">
    <div class="container">
      <div class="row">
        <% acionamentos.forEach((acionamento) => { %>
        <%- include('acionamento_card', { acionamento: acionamento }); -%>
        <% }); %>
      </div>
    </div>
  </div>
</body>

</html>