<div class="card" style="width: 18rem; margin: 45px;">
  <div class="card-body">
    <h5 class="card-title"><%= sensor.name %></h5>
    <p class="card-text"> <%= sensor.tipo %> = <%= sensor.valor %> </p>
    <a href="<%= `/sensores/${sensor.id}` %>" class="btn btn-primary">Clique aqui</a>
  </div>
</div>