<!DOCTYPE html>
<html>

<head>
  <%- include('import'); -%>
</head>

<body>
  <%- include('navs'); -%>
  <div class="container">
    <div class="row">
      <div class="sensor-detail">
      
      </div>
    </div>
  </div>
</body>

</html>