<div class="color-card">
<div class="card" style="width: 18rem; margin: 45px;">
  <div class="card-body">
    <h4 class="card-title"><%= sensor.name %></h4>
    <p class="card-text"><%= sensor.date %></p>
    <p class="card-text">Temperatura:<%= sensor.temperature %></p>
    <p class="card-text">Umidade:<%= sensor.humidity %></p>
  </div>
</div>
</div>