<div class="color-card">
  <div class="card" style="width: 300px; margin: 45px; height: 150px;">
    <div class="card-body">
      <h4 class="card-title"><%= sensor.name %></h4>
      <% sensor.measurements.forEach((measurement) => { %>
      <p class="card-text"><%= measurement.date %></p>
      <p class="card-text">Temperatura: <%= measurement.temperature %></p>
      <p class="card-text">Umidade: <%= measurement.humidity %></p>
      <% }); %>
    </div>
  </div>
</div>