<div class="color-card">
<div class="card" style="width: 18rem; margin: 45px;">
  <div class="card-body">
    <h4 class="card-title"><%= sensor.nome %></h4>
    <p class="card-text"> <%= sensor.data %></p>
    <p class="card-text"> <%= sensor.tipo %></p>
    <p class="card-text"><%= sensor.valor %></p>
  </div>
</div>
</div>