<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sensores</title>
  <%- include('../../import'); -%>
</head>

<body>
  <%- include('../../navs'); -%>
  <h1>Novo Sensor</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="create" method="POST">
          <div class="form-group">
            <label for="sensorTitle">Local do Sensor</label>
            <input name="name" type="text" class="form-control" id="sensorTitle" placeholder="Ex: Sensor Churrasqueira">
          </div>
          <input name="date" type="hidden" value="01/01/2019">
          <input name="temperature" type="hidden" value="1">
          <input name="humidity" type="hidden" value="1">
      <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
  </div>
</body>

</html>