<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sensores</title>
  <%- include('../../import'); -%>
</head>

<body>
  <%- include('../../navs'); -%>
  <h1>Novo Sensor</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="create" method="POST">
          <div class="form-group">
            <label for="sensorTitle">Local do Sensor</label>
            <input name="name" type="text" class="form-control" id="sensorTitle" aria-describedby="emailHelp"
              placeholder="Ex: Sensor Churrasqueira">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="sensorDescription">Data</label>
              <input name="date" type="datetime" class="form-control" id="sensorDescription" placeholder="DD/MM/YYYY">
            </div>
          </div>
          <div class="center-2">
          <h3 style="color: aliceblue;">Medições</h3>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="sensorDescription">Temperatura</label>
              <input name="temperature" type="text" class="form-control" id="sensorDescription" placeholder="Em Celcius">
            </div>
          </div>
          <div class="form-group">
            <label for="sensorBody">Umidade</label>
            <input name="humidity" type="text" class="form-control" id="sensorBody" placeholder="Umidade">
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>