<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <%- include('../../import'); -%>
</head>

<body>
  <%- include('../../navs'); -%>
  <h1>Novo Sensor</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="create" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="postTitle">Local do Sensor</label>
            <input name="title" type="text" class="form-control" id="postTitle" aria-describedby="emailHelp"
              placeholder="Ex: Sensor Churrasqueira">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="postDescription">Temperatura</label>
              <input name="description" type="text" class="form-control" id="postDescription" placeholder="Em Celcius">
            </div>
          </div>
          <div class="form-group">
            <label for="postBody">Umidade</label>
            <input name="postBody" type="text" class="form-control" id="postBody" placeholder="Em %.">
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>