<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <%- include('../../import'); -%>
</head>

<body>
  <%- include('../../navs'); -%>
  <div class="center">
    <h1>Administração de Sensores</h1>
  </div>
  <div class="container">
    <div class="row">
    </div>
    <div class="row mb-2">
      <a style="padding: 5px;" type="button" href="/admin/posts/create" class="button btn-success">Novo Sensor</a>
    </div>
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sensor</th>
            <th scope="col">Código</th>
          </tr>
        </thead>
        <tbody>
          <% posts.forEach((posts) => { %>
          <tr>
            <td><%= posts.id %></td>
            <td><%= posts.name %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
</body>

</html>